In [3]:
import pandas as pd
train_path = "train_FD001.txt"
test_path  = "test_FD001.txt"
rul_path   = "RUL_FD001.txt"

train_df = pd.read_csv(train_path, sep=" ", header=None)
test_df  = pd.read_csv(test_path, sep=" ", header=None)
rul_df   = pd.read_csv(rul_path, sep=" ", header=None)

train_df = train_df.iloc[:, :-2]
test_df  = test_df.iloc[:, :-2]

train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [4]:
columns = [
    "unit", "time",
    "op_setting_1", "op_setting_2", "op_setting_3"
] + [f"sensor_{i}" for i in range(1,22)]

train_df.columns = columns
test_df.columns  = columns

train_df.head()

,unit,time,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [ ]:
columns = [
    "unit", "time",
    "op_setting_1", "op_setting_2", "op_setting_3"
] + [f"sensor_{i}" for i in range(1,22)]

train_df.columns = columns
test_df.columns  = columns

train_df.head()

,unit,time,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [5]:
train_df.isnull().sum().sum()

np.int64(0)

In [6]:
max_cycles = train_df.groupby("unit")["time"].max()
max_cycles.head()

unit
1    192
2    287
3    179
4    189
5    269
Name: time, dtype: int64

In [7]:
train_df["RUL"] = train_df.apply(
    lambda row: max_cycles[row["unit"]] - row["time"],
    axis=1
)

train_df[["unit", "time", "RUL"]].head()

   unit  time    RUL
0     1     1  191.0
1     1     2  190.0
2     1     3  189.0
3     1     4  188.0
4     1     5  187.0

In [9]:
train_df["failure_24h"] = (train_df["RUL"] <= 24).astype(int)

train_df[["RUL", "failure_24h"]].tail(30)

        RUL  failure_24h
20601  29.0            0
20602  28.0            0
20603  27.0            0
20604  26.0            0
20605  25.0            0
20606  24.0            1
20607  23.0            1
20608  22.0            1
20609  21.0            1
20610  20.0            1
20611  19.0            1
20612  18.0            1
20613  17.0            1
20614  16.0            1
20615  15.0            1
20616  14.0            1
20617  13.0            1
20618  12.0            1
20619  11.0            1
20620  10.0            1
20621   9.0            1
20622   8.0            1
20623   7.0            1
20624   6.0            1
20625   5.0            1
20626   4.0            1
20627   3.0            1
20628   2.0            1
20629   1.0            1
20630   0.0            1

In [10]:
train_df["failure_24h"].value_counts(normalize=True)

failure_24h
0    0.878823
1    0.121177
Name: proportion, dtype: float64

In [11]:
train_df.to_csv("train_processed.csv", index=False)

In [12]:
train_df.groupby("unit")["failure_24h"].sum().head()

unit
1    25
2    25
3    25
4    25
5    25
Name: failure_24h, dtype: int64